/* This insures that all browsers handle the website in the same way.  CSS Display */
header, section, footer, aside, nav, article, figure, figcaption {
	display: block;
}
	
/* This is the body style, allows the picture background. */	
body {
	color: #666666;
	background-color: #f9f8f6;
	background-image: url("https://raw.githubusercontent.com/RodneyWorch/Final-Project/gh-pages/background.jpg");
	background-position: center;
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
	margin: 0px;
}

/* This will style the whole website CSS Dimension Width, CSS Margin */				
.wrapper {
	width: 940px;
	margin: 20px auto 20px auto;
	border: 2px solid #000000;
	background-color: #ffffff;
}

/* This will style the header of the site. */				
header {
	height: 160px;
	background-image: url("https://raw.githubusercontent.com/RodneyWorch/Final-Project/gh-pages/Header1.jpeg");
}

/* This will style all H1 tags */
h1{
	width: 940px;
	height: 130px;
	margin: 0px;
}
				
nav, footer {
	clear: both;
	color: #ffffff;
	background-color: #aeaca8;
	height: 30px;
}
				
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
}
				
nav li {
	display: inline;
	margin-right: 40px;
}
				
nav li a {
	color: #ffffff;
}

/* This will change the color of navigation tags */				
nav li a:hover, nav li a.current {
	color: #000000;
}

article {
	clear: both;
	overflow: auto;
	width: 100%;
}

hgroup {
	margin-top: 40px;
}

/* This is the picture box on index page. */
figure {
	float: left;
	width: 290px;
	height: 245px;
	padding: 5px;
	margin: 20px;
	border: 1px solid #eeeeee;
}

/* This adds a caption on index page. */
figcaption {
	font-size: 90%;
	text-align: left;
}

aside {
	width: 230px;
	float: left;
	padding: 0px 0px 0px 20px;
}

aside section a {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #eeeeee;
}

aside section a:hover {
	color: #985d6a;
	background-color: #efefef;
}

/* This colors the nav text and removes the hypertext underline*/
a {
	color: #de6581;
	text-decoration: none;
}

h1, h2, h3 {
	font-weight: normal;
}

h2 {
	margin: 10px 0px 5px 0px;
	padding: 0px;
}

h3 {
	margin: 0px 0px 10px 0px;
	color: #de6581;
}

aside h2 {
	padding: 30px 0px 10px 0px;
	color: #de6581;
}

/* This will style the footer of the page */			
footer {
  	font-size: 80%;
	padding: 5px 5px 5px 20px;
}

/* This will style the carousel */
.container{
	margin:0px;
	width:940px;
	height:620px;
	padding:60px;
	border:1px solid gray;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
  	background: black;
}
.image-slider-wrapper{
	overflow: hidden;
}
#image_slider{
	position: relative;
	overflow: hidden;
	height: 520px;
  	width: 940px;
	padding:0;
	left:0;
}
#image_slider li{
	position:relative;
	max-width: 100%;
	float:left;
	list-style: none;
	left: 0;
}
