
/* CSS for images inside item wrapper */
/* Makes images non-selectable. */
/* Make images expand to wrapper size. */
.kc-item img {
        position:absolute;
        pointer-events: none;   /* Make images non-selectable. */
        width:100%;             /* Make images expand to wrapper size. */
    }
