/* This insures that all browsers handle the website in the same way.  CSS Display */

header, section, footer, aside, nav, article, figure, figcaption {
	display: block;}

/* provides information on how page will be layed out.  gives background image. */
	
body {
	color: #666666;
	background-color: #f9f8f6;
	background-image: url("https://raw.githubusercontent.com/RodneyWorch/Final-Project/gh-pages/background.jpg");
	background-position: center;
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
	margin: 0px;
}

/* This will style the whole website CSS Dimension Width, CSS Margin */
				
.wrapper {
	width: 940px;
	margin: 20px auto 20px auto;
	border: 2px solid #000000;
	background-color: #ffffff;
}

/* Styles the header and adds header picture */
				
header {
	height: 160px;
	background-image: url("https://raw.githubusercontent.com/RodneyWorch/Final-Project/gh-pages/Header1.jpeg");
}

/* Styles h1 tags */

h1{
	width: 940px;
	height: 130px;
	margin: 0px;
}

/* Styles the nav and footer */
				
nav, footer {
	clear: both;
	color: #ffffff;
	background-color: #aeaca8;
	height: 30px;
}

/* Styles the nav and footer */
				
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
}

/* Styles the nav bar */
				
nav li {
	display: inline;
	margin-right: 40px;
}
				
nav li a {
	color: #ffffff;
}
				
nav li a:hover, nav li a.current {
	color: #000000;
}

/* gives the section pictures a width and boarder */

section.pictures {
	float: left;
	width: 659px;
	border-right: 1px solid #eeeeee;
}

/* specifies the width, specifies on which sides of an element were floating, and specifies what happens if content overflows an elements box */

article {
	clear: both;
	overflow: auto;
	width: 100%;
}

/* provides a top margin to the hgroup */

hgroup {
	margin-top: 40px;
}

/* gives all styles to the figure. */

figure {
	float: left;
	width: 290px;
	height: 245px;
	padding: 5px;
	margin: 20px;
	border: 1px solid #eeeeee;
}

/* provides a caption box */

figcaption {
	font-size: 90%;
	text-align: left;
}

/* Styles the aside layout */

aside {
	width: 230px;
	float: left;
	padding: 0px 0px 0px 20px;
}

aside section a {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #eeeeee;
}

/* provides working links to  */

aside section a:hover {
	color: #985d6a;
	background-color: #efefef;
}

a {
	color: #de6581;
	text-decoration: none;
}

/* Styles all h1, h2, and h3. */

h1, h2, h3 {
	font-weight: normal;
}

h2 {
	margin: 10px 0px 5px 0px;
	padding: 0px;
}

h3 {
	margin: 0px 0px 10px 0px;
	color: #de6581;
}

/* Styles all h2 elements in the aside. */

aside h2 {
	padding: 30px 0px 10px 0px;
	color: #de6581;
}

/* Styles the footer */
			
footer {
  	font-size: 80%;
	padding: 5px 5px 5px 20px;
}

